#mycontainer {
    background: url("./img/labeBac.png") no-repeat left;
    position: relative;
    background-size: 100% 100%;
}

/* 更改bootstrap默认样式 */
.modal-content {
    background: url("./img/labeBac.png") no-repeat left;
    position: relative;
    background-size: 100% 100%;
}

.panel-default>.panel-heading {
    background-image: unset !important;
    background-color: rgba(39, 47, 56, 1) !important;
    color: white !important;
    border-color: rgba(121, 121, 121, 1) !important;
    font-size: 16px;
}

.panal-block .panel-body {
    background-color: rgba(64, 79, 90, 1) !important;
    color: white;
}
.panel-body {
    background-color: rgba(64, 79, 90, 1) !important;
    color: white;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
    background-color: rgba(64, 79, 90, 1) !important;
    color: white !important;
}

.btn-outline-primary {
    background-image: unset !important;
    background-color: rgba(39, 47, 56, 1) !important;
    color: white !important;
    font-size: 18px;
}
.btn-group, .btn-group-vertical{
    display: flex !important;
}




.markup-input textarea {
    font-family: "Lucida Console", Monaco, monospace;
}

.form-group .btn-group {
    margin-left: 20px;

}

.note {
    font-size: 40px;
}

.signature {
    font-size: 20px;
}

.octave {}

.length-dash {
    stroke: rgb(0, 0, 0);
    stroke-width: 4;
}

.length-underline {
    stroke: rgb(0, 0, 0);
    stroke-width: 2.5;
}

.bar-line {
    stroke: rgb(0, 0, 0);
    stroke-width: 2.5;
}

.doublebar-line>line:first-child {
    stroke: rgb(0, 0, 0);
    stroke-width: 2.5;
}

.doublebar-line>line:last-child {
    stroke: rgb(0, 0, 0);
    stroke-width: 5;
}

.slur {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-width: 2.5;
}

.lyrics {
    font: "Arial";
    font-size: 20px;
}

.accidental {
    font-size: 30px;
}

.highlight {
    fill: green;
}

.md-set {
    padding: 0px 24px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 5px 5px;

}

.md-set-play {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.playCheck {
    padding: 5px 5px 0px 15px !important;
    color: white;
}

.noteModal,.modal {
    width: 100%;
    color: white;
}

.noteModal .mark-set div {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.noteModal .form-group {
    width: 90px;
    margin-top: 10px;
}

.mark-set {
    display: flex;
    align-items: center;
    color: white;
}

.mark-set .control-label {
    font-size: 16px;
    font-weight: bold;
    margin: -5px 5px 0px 10px;
    white-space: nowrap;
}

.mark-set-volume{
    width: 50%;
}

.btn-outline-primary {
    padding: 0px 5px;
}

.drag {
    overflow-x: auto;
}

/* 拖拽部分样式 */
.drag-box {
    display: -webkit-box;
    margin-bottom: 15px;

}

.drag-item {
    padding-left: 5px;
    border-radius: 4px;
    border: 1px solid #fffcfc;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.drag-item-chord {
    height: 50px;
    background-color: rgba(42, 50, 60, 1) !important;
}

.drag-item:hover {
    box-shadow: 0px 1px 1px 0px #898989;
}

/* 增加按钮 */
.drag-box-add {
    width: 80px;
    height: 80px;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6998c8;
    cursor: pointer;
}


/* h和弦块 */
.drag-box-add-chord {
    width: 30px;
    height: 50px;
    font-size: 20px;
}

.bac1 {
    background-color: rgba(116, 145, 160, 1);
}

.bac2 {
    background-color: #778b6d;
}

/* 下拉样式 */
.select-div {
    height: 30px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

/* 模态框边距 */
.modal-content {
    padding: 20px !important;
}

/* 音乐块高度 */
.panal-block .panel-body {
    height: 260px !important;
}

button {
    margin-left: 5px;
}